#pdf-load{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(200, 200, 2, 0.4);
}

#pdf-load .done{
    display: none;
}

#pdf-load.done .done{
    display: block;
}

#pdf-load.done a.done{
    display: inline-block;
}

#pdf-load.done .loading{
    display: none;
}

.pdf-load-dialog{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 8px 5px #ccc;
    text-align: center;
}

#pdf-load p{
    margin-bottom: 1em;
}

#pdf-load .icon{
    margin: 1em auto;
    width: 60px;
    height: 60px;
}

#pdf-load .icon .loading {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #25b; /* Blue */
  border-right: 6px solid #25b; /* Blue */
  border-left: 6px solid #25b; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: pdf-load-spin 1500ms linear infinite;
}

#pdf-load a{
    display: inline-block;
    border: 1px solid #25b;
    padding: .2em 2em;
    background-color: #25b;
    color: #fff;
    text-decoration: none;
    margin: 1em .5em;
}

a#pdf-cancel,
#pdf-load a:hover{
    background-color: #fff;
    color: #25b;
}

@keyframes pdf-load-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}